body h1,
body h2,
body h3,
body h4,
body h5,
body h5,
body button {
  font-family: 'Playfair Display', serif;
}

body p,
body li,
body label {
  font-family: 'Montserrat', sans-serif;
}

body .content-lg {
  max-width: 992px;
  margin: auto;
}

body h3 {
  font-size: 21px;
  font-weight: bolder;
}

@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 20px);
            transform: translate(0, 20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 20px);
            transform: translate(0, 20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body header {
  background-color: #0152CC;
  min-height: 450px;
  color: #fff;
  padding-top: 15px;
}

body header .tittle {
  font-size: 21px;
  text-align: center;
}

body header .heading {
  padding-top: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .heading h1 {
  margin-left: 100px;
  padding-bottom: 10px;
  border-bottom: 1px solid #fff;
  -webkit-animation-name: opacity;
          animation-name: opacity;
  -webkit-animation-duration: 3.5s;
          animation-duration: 3.5s;
}

body header .heading img {
  width: 200px;
  border-radius: 50%;
  -webkit-animation-name: slide;
          animation-name: slide;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

@media screen and (max-width: 600px) {
  body header .heading {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body header .heading h1 {
    margin-left: 0;
  }
}

body header .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 110px;
  -webkit-animation-name: opacity;
          animation-name: opacity;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  padding-bottom: 10px;
}

body header .contact a {
  text-decoration: none;
}

body header .contact a,
body header .contact p {
  margin: 0 5px 0 5px;
  font-size: 18px;
  color: #bbbbbb;
}

body header .contact a:hover {
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  text-decoration: underline;
}

body header .contact p:hover {
  font-size: 18px;
  color: #ddd;
  font-weight: bold;
  text-decoration: underline;
}

body .content {
  color: #01193F;
  -webkit-animation-name: slide;
          animation-name: slide;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

body .content .biografi {
  margin-top: 100px;
  text-align: center;
  padding: 0 15px;
}

body .content .biografi h3 {
  margin-bottom: 25px;
}

body .content .biografi .detail-bio {
  margin: auto;
  padding-top: 0;
  max-width: 660px;
  text-align: center;
  font-size: 18px;
}

body .content .biografi .detail-bio p {
  padding-bottom: 15px;
}

body .content .skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 100px;
}

body .content .skills .skill {
  min-width: 50%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .content .skills .skill h3 {
  margin: auto 100px auto 0;
}

body .content .skills .skill ul {
  list-style-type: none;
}

body .content .skills .skill ul li {
  padding-bottom: 10px;
}

@media screen and (max-width: 600px) {
  body .content .skills {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .content .skills .skill {
    padding: 0 100px;
    margin-bottom: 20px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  body .content .skills .skill h3 {
    margin: 0;
  }
}

body .content .contact-me {
  margin: 100px 0;
  text-align: center;
}

body .content .contact-me h3 {
  margin-bottom: 15px;
}

body .content .contact-me form {
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin: auto;
}

body .content .contact-me form input,
body .content .contact-me form textarea {
  width: 250px;
  border: 1px solid #01193F;
  margin: 5px 0;
  padding: 1px 3px;
  border-radius: 5px;
}

body .content .contact-me form input {
  font-size: 21px;
}

body .content .contact-me form label {
  padding: 1px 0;
  width: 90px;
  text-align: start;
  margin: 5px 0;
}

body .content .contact-me form button {
  margin-top: 15px;
  padding: 2px 5px;
  width: 100%;
  background-color: #0152CC;
  color: #fff;
  border: none;
  border-radius: 5px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  font-size: 21px;
}

body .content .contact-me form button:hover {
  -webkit-box-shadow: 1px 1px 2px gray;
          box-shadow: 1px 1px 2px gray;
  background-color: #0364F5;
  color: #fff;
  font-weight: bolder;
}

body footer {
  background-color: #0152CC;
  color: #fff;
  text-align: center;
  padding: 30px 0;
}

body footer p {
  padding: auto 0;
}
/*# sourceMappingURL=style.css.map */