body {

    //default
    h1,
    h2,
    h3,
    h4,
    h5,
    h5,
    button {
        font-family: 'Playfair Display', serif;
    }

    p,
    li,
    label {
        font-family: 'Montserrat', sans-serif;
    }

    .content-lg {
        max-width: 992px;
        margin: auto;
    }

    h3 {
        font-size: 21px;
        font-weight: bolder;
    }

    //animation
    @keyframes slide {
        0% {
            opacity: 0;
            transform: translate(0, 20px);
        }

        100% {
            opacity: 1;
            transform: translate(0, 0);
        }
    }

    @keyframes opacity {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    // style header
    header {
        background-color: #0152CC;
        min-height: 450px;
        color: #fff;
        padding-top: 15px;

        .tittle {
            font-size: 21px;
            text-align: center;
        }

        .heading {
            padding-top: 75px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            h1 {
                margin-left: 100px;
                padding-bottom: 10px;
                border-bottom: 1px solid #fff;
                animation-name: opacity;
                animation-duration: 3.5s;
            }

            img {
                width: 200px;
                border-radius: 50%;
                animation-name: slide;
                animation-duration: 1.5s;
            }
            @media screen and (max-width:600px) {
                flex-direction: column;
                h1{
                    margin-left: 0;
                }
            }

        }

        .contact {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-top: 110px;
            animation-name: opacity;
            animation-duration: 1.5s;
            padding-bottom: 10px;
            a {
                text-decoration: none;
            }

            a,
            p {
                margin: 0 5px 0 5px;
                font-size: 18px;
                color: rgb(187, 187, 187);
            }

            a:hover {
                font-size: 18px;
                color: #fff;
                font-weight: bold;
                text-decoration: underline;
            }

            p:hover {
                font-size: 18px;
                color: #ddd;
                font-weight: bold;
                text-decoration: underline;
            }
        }
    }

    //content
    .content {
        color: #01193F;
        animation-name: slide;
        animation-duration: 1.5s;

        .biografi {
            margin-top: 100px;
            text-align: center;
            padding: 0 15px;
            h3 {
                margin-bottom: 25px;
            }

            .detail-bio {
                margin: auto;
                padding-top: 0;
                max-width: 660px;
                text-align: center;
                font-size: 18px;

                p {
                    padding-bottom: 15px;
                }
            }
        }

        .skills {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 100px;
            .skill {
                min-width: 50%;
                height: auto;
                display: flex;
                flex-direction: row;
                padding: auto;
                justify-content: center;

                h3 {
                    margin: auto 100px auto 0;
                }

                ul {
                    list-style-type: none;

                    li {
                        padding-bottom: 10px;
                    }
                }
            }
            @media screen and (max-width:600px) {
                flex-direction: column;
                .skill{ padding: 0 100px;
                    margin-bottom: 20px;
                    justify-content: space-around;
                    h3{
                        margin: 0;
                    }
                }
            }
        }

        .contact-me {
            margin: 100px 0;
            text-align: center;

            h3 {
                margin-bottom: 15px;
            }

            form {
                width: 350px;
                display: flex;
                flex-wrap: wrap;
                justify-content: end;
                margin: auto;

                input,
                textarea {
                    width: 250px;
                    border: 1px solid #01193F;
                    margin: 5px 0;
                    padding: 1px 3px;
                    border-radius: 5px;
                }

                input {
                    font-size: 21px;
                }

                label {
                    padding: 1px 0;
                    width: 90px;
                    text-align: start;
                    margin: 5px 0;
                }

                button {
                    margin-top: 15px;
                    padding: 2px 5px;
                    width: 100%;
                    background-color: #0152CC;
                    color: #fff;
                    border: none;
                    border-radius: 5px;
                    transition: 0.25s;
                    font-size: 21px;
                }

                button:hover {
                    box-shadow: 1px 1px 2px gray;
                    background-color: #0364F5;
                    color: #fff;
                    font-weight: bolder;
                }
            }
        }
    }

    footer {
        background-color: #0152CC;
        color: #fff;
        text-align: center;
        padding: 30px 0;

        p {
            padding: auto 0;
        }
    }
}